:root {
  /* リスト表示時の一行の高さ */
  --row-height: 15px;

  /* gallery モード時のグリッドの列数 */
  --grid-column-count: 5;

  /* 背景色 */
  --background-color: #242424;

  /* 文字色 */
  --text-color: #fff;

  /* 文字シャドウ (gallery モード時のエントリ名に使用される) */
  --text-shadow-color: #000;

  /* フレームの枠線 */
  --frame-border-color: #666;

  /* カレントフレームの枠線 */
  --frame-focus-color: #ff0;

  /* カレントエントリの背景色 */
  --row-focus-color: rgb(255 0 0 / 0.3);

  /* もう一方のフレームのカレントエントリ背景色 */
  --row-focus-inactive-color: rgb(255 255 255 / 0.2);

  /* 選択済みエントリの背景色 */
  --row-selected-color: rgb(0 255 0 / 0.2);

  /* 選択済みエントリがカレントになった時の背景色 */
  --row-blended-color: rgb(255 255 0 / 0.2);

  /* ディレクトリ */
  --dir-color: #ff8c00;

  /* シンボリックリンク */
  --symlink-color: #00bfff;

  /* 実行可能エントリ */
  --exec-color: #32cd32;

  /* テキストフィールドの文字色 */
  --input-text-color: #fff;

  /* テキストフィールドの背景色 */
  --input-background-color: #333;

  /* フォーカスのあるテキストフィールドの背景色 */
  --input-focus-color: #555;

  /* ボタンの文字色 */
  --btn-text-color: #fff;

  /* ボタンの背景色 */
  --btn-background-color: #333;

  /* フォーカスのあるボタンの背景色 */
  --btn-focus-color: #555;

  /* ログレベル `info` */
  --log-info-color: #4caf50;

  /* ログレベル `warn` */
  --log-warn-color: #ffc107;

  /* ログレベル `error` */
  --log-error-color: #ff4c4c;

  /* プログレスバーの背景色 */
  --progress-track-color: #999;

  /* プログレスバーの色 (進行中) */
  --progress-bar-progress-color: #ffc107;

  /* プログレスバーの色 (完了) */
  --progress-bar-end-color: #4caf50;

  /* プログレスバーの色 (エラー) */
  --progress-bar-error-color: #ff4c4c;
}

@media (max-width: 780px) {
  :root {
    --grid-column-count: 3;
  }
}

@media (min-width: 781px) and (max-width: 1240px) {
  :root {
    --grid-column-count: 4;
  }
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

.html {
  height: 100%;
  color-scheme: light dark;
  font-size: 10px;
}

.body {
  height: 100%;
  margin: 0;
}

.root {
  width: 100%;
  height: 100%;
}

/* アプリケーション全体 */
.app {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--frame-border-color);
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: 80% 1px auto;
}

/* ログフレーム */

.logFrame {
  position: relative;
  min-height: 0;
  border: transparent solid 1px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  font-size: 1.2rem;
  grid-column: 1 / 4;
  grid-row: 3;
  line-height: 1;

  &:focus-visible {
    border-color: var(--frame-focus-color);
    border-radius: 0;
    outline: none;
  }
}

.logFrame_inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.logFrame_log {
  padding: 1px;
  word-break: break-all;

  &[data-level='none'] {
    /*  */
  }

  &[data-level='info'] {
    color: var(--log-info-color);
  }

  &[data-level='warn'] {
    color: var(--log-warn-color);
  }

  &[data-level='error'] {
    color: var(--log-error-color);
  }

  &[data-level='progress'] {
    /*  */
  }
}

/* ログフレームに表示されるプログレスバー */

.progressTaskLog {
  display: flex;
  align-items: center;
  gap: 10px;

  &[data-status='error'],
  &[data-status='abort'] {
    color: var(--log-error-color);
  }

  &[data-status='end'] {
    color: var(--log-info-color);
  }
}

.progressTaskLog_label {
  /*  */
}

.progressTaskLog_track {
  width: 100px;
  height: 5px;
  background-color: var(--progress-track-color);
}

.progressTaskLog_bar {
  height: 5px;
  background-color: var(--progress-bar-progress-color);

  .progressTaskLog[data-status='end'] & {
    background-color: var(--progress-bar-end-color);
  }

  .progressTaskLog[data-status='error'] &,
  .progressTaskLog[data-status='abort'] & {
    background-color: var(--progress-bar-error-color);
  }
}

.progressTaskLog_status {
  .progressTaskLog[data-status='end'] &::before {
    /*  */
  }

  .progressTaskLog[data-status='error'] &::before {
    content: 'ERROR';
  }

  .progressTaskLog[data-status='abort'] &::before {
    content: 'ABORT';
  }
}

.progressTaskLog_abort {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  appearance: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    content: '';
    transform-origin: center;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* エントリ一覧が表示されるフレーム */

.dataFrame {
  position: relative;
  display: grid;
  border: transparent solid 1px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  font-size: 1.3rem;
  grid-row: 1;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  line-height: 1;

  &[data-frame='a'] {
    grid-column: 1;
  }

  &[data-frame='b'] {
    grid-column: 3;
  }

  &:focus-visible {
    border-color: var(--frame-focus-color);
    border-radius: 0;
    outline: none;
  }
}

/* エントリ一覧 */

.entryGrid {
  overflow: hidden;
  grid-row: 2;
}

.entryGrid_table {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.entryGrid_tbody {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: start;
  grid-template-columns: 1fr;

  .entryGrid-overflowing.entryGrid-visibleFirst & {
    align-content: start;
  }

  .entryGrid-overflowing.entryGrid-visibleLast & {
    align-content: end;
  }
}

.entryGrid_tr {
  display: grid;
  width: 100%;
  height: var(--row-height);
  gap: 0 2px;
  grid-template-columns: 86px 1fr 54px 141px;
  grid-template-rows: 1fr;

  &[data-perm^='d'] {
    color: var(--dir-color);
  }

  &[data-perm^='l'] {
    color: var(--symlink-color);
  }

  &[data-perm^='-'][data-perm*='x'] {
    color: var(--exec-color);
  }

  &[aria-current='true'] {
    background-color: var(--row-focus-inactive-color);
  }

  :where(.dataFrame:focus-within) &[aria-current='true'] {
    background-color: var(--row-focus-color);
  }

  &[aria-selected='true'] {
    background-color: var(--row-selected-color);
  }

  &[aria-current='true'][aria-selected='true'] {
    background-color: var(--row-blended-color);
  }
}

.entryGrid_td {
  min-width: 0; /* ellipsis を機能させるために必要 */
  padding: 1px;

  &[data-column='thumbnail'] {
    display: none;
  }

  &[data-column='size'],
  &[data-column='time'] {
    text-align: right;
  }
}

.entryGrid_tdInner {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* gallery モード */

.dataFrame[data-mode~='gallery'] {
  .entryGrid_tbody {
    grid-template-columns: repeat(var(--grid-column-count), 1fr);
  }

  .entryGrid_tr {
    position: relative;
    display: block;
    width: revert;
    height: revert;
    aspect-ratio: 1 / 1;
    background-color: transparent !important;

    &::before {
      position: absolute;
      z-index: 1;
      display: inline-block;
      margin: 4px;
      font-size: 1.5em;
    }

    &[data-perm^='d']::before {
      content: '📁';
    }

    &[data-perm^='l']::before {
      content: '🔗';
    }

    &[data-perm^='-']::before {
      content: '📄';
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
    }

    &[aria-current='true']::after {
      background-color: var(--row-focus-inactive-color);
    }

    &[aria-selected='true']::after {
      background-color: var(--row-selected-color);
    }

    &[aria-current='true'][aria-selected='true']::after {
      background-color: var(--row-blended-color);
    }
  }

  &:focus-within .entryGrid_tr[aria-current='true']::after {
    background-color: var(--row-focus-color);
  }

  .entryGrid_td {
    display: none;
    padding: 0;

    &[data-column='thumbnail'] {
      display: block;
      width: 100%;
      height: 100%;

      .entryGrid_tdInner {
        width: 100%;
        height: 100%;
      }
    }

    &[data-column='name'] {
      position: absolute;
      z-index: 1;
      bottom: 0;
      display: block;
      width: 100%;

      .entryGrid_tdInner {
        display: -webkit-box;
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
        margin: 0 2px 2px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow-wrap: anywhere;
        text-shadow: 1px 1px 2px var(--text-shadow-color);
        white-space: normal;
        word-break: break-all;
      }
    }
  }

  .entryGrid_thumbnail {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    object-fit: contain;
  }
}

/* エントリフィルタ */

.entryFilter {
  grid-row: 3;
}

.entryFilter_input {
  display: block;
  width: 100%;
  padding: 1px;
  border: 0;
  appearance: none;
  background: var(--input-background-color);
  color: var(--input-text-color);
  font-size: 1.2rem;

  &:focus-visible {
    border-radius: 0;
    background-color: var(--input-focus-color);
    outline: none;
  }
}

/* カレントディレクトリ表示部 */

.curDir {
  overflow: hidden;
  height: 1em;
  box-sizing: content-box;
  padding: 1px;
  grid-row: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ディレクトリ情報表示部 */

.dirInfo {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 1px;
  gap: 10px;
  grid-row: 4;
  white-space: nowrap;
}

.dirInfo_dirs::after {
  content: ' dirs';
}

.dirInfo_files::after {
  content: ' files';
}

.dirInfo_links::after {
  content: ' links';
}

.dirInfo_selected::after {
  content: ' selected';
}

.dirInfo_filtered {
  &:empty {
    display: none;
  }

  &::before {
    content: '(';
  }

  &::after {
    content: ' filtered out)';
  }
}

.dirInfo_modes {
  display: flex;
  align-items: center;
  gap: 10px;

  &:empty {
    display: none;
  }
}

.dirInfo_mode::before {
  content: ':';
}

.dirInfo_sort:empty {
  display: none;
}

.dirInfo_matchMode {
  /*  */
}

/* プレビューエリア */

.preview {
  display: none;

  &[data-perm^='d'] {
    color: var(--dir-color);
  }

  &[data-perm^='l'] {
    color: var(--symlink-color);
  }

  &[data-perm^='-'][data-perm*='x'] {
    color: var(--exec-color);
  }

  .dataFrame-active[data-mode~='preview'] & {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--background-color);
    gap: 10px;
  }

  .dataFrame[data-frame='a'] & {
    right: calc(-100% - 3px);
  }

  .dataFrame[data-frame='b'] & {
    left: calc(-100% - 3px);
  }
}

.preview_area,
.preview_info {
  padding: 5px;
}

.preview_area {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  line-height: 1.3;

  .dataFrame[data-mode~='virtual-dir'] &::before {
    color: var(--log-error-color);
    content: 'Preview not available inside archives.';
  }
}

.preview_media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: contain;
}

.preview_info {
  padding-top: 0;
  margin: 0;
  line-height: 1.2;
  list-style: none;
  word-break: break-all;
}

.dataFrame[data-mode~='virtual-dir'] {
  .preview_unavailable,
  .preview_media {
    display: none;
  }
}

/* モーダルダイアログ */

.dialog {
  max-width: 95%;
  max-height: 95%;
  padding: 10px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  font-size: 1.3rem;
  line-height: 1;

  &[data-type='list'] {
    min-width: 75%;
  }

  &[data-type='prompt'] {
    min-width: 45%;
  }

  &::backdrop {
    background-color: color-mix(in srgb, var(--background-color) 30%, transparent);
  }

  &:focus-visible {
    border-radius: 0;
    outline: none;
  }
}

/* 選択モーダル */

.dialog_list {
  /*  */
}

.dialog_listFilter {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.dialog_listMatchMode {
  /*  */
}

.dialog_listInput {
  display: block;
  width: 100%;
  padding: 1px;
  border: 0;
  appearance: none;
  background: var(--input-background-color);
  color: var(--input-text-color);
  font-size: 1.2rem;

  &:focus-visible {
    border-radius: 0;
    background-color: var(--input-focus-color);
    outline: none;
  }
}

.dialog_listDataset {
  margin-top: 5px;

  &:empty {
    margin-top: 0;
  }
}

.dialog_listData {
  display: block;
  width: 100%;
  padding: 1px;
  border: 0;
  appearance: none;
  background: none;
  color: var(--text-color);
  text-align: left;

  &[aria-current='true'] {
    background-color: var(--row-focus-color);

    .dialog:has(.dialog_input:focus-visible) & {
      background-color: var(--row-focus-inactive-color);
    }
  }
}

/* 入力モーダル */

.dialog_prompt {
  /*  */
}

.dialog_promptMessage {
  margin-bottom: 10px;
  font-size: 1.2rem;

  &:empty {
    display: none;
  }
}

.dialog_promptInput {
  display: block;
  width: 100%;
  padding: 1px;
  border: 0;
  appearance: none;
  background: var(--input-background-color);
  color: var(--input-text-color);
  font-size: 1.2rem;

  &:focus-visible {
    border-radius: 0;
    background-color: var(--input-focus-color);
    outline: none;
  }
}

.dialog_promptFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.dialog_promptBtn {
  padding: 5px 10px;
  border: 0;
  appearance: none;
  background: var(--btn-background-color);
  color: var(--btn-text-color);
  font-size: 1.2rem;

  &:focus-visible {
    border-radius: 0;
    background-color: var(--btn-focus-color);
    outline: none;
  }
}

.dialog_promptBtn-cancel::before {
  content: 'Cancel';
}

.dialog_promptBtn-confirm::before {
  content: 'OK';
}

/* 確認モーダル */

.dialog_confirm {
  /*  */
}

.dialog_confirmMessage {
  font-size: 1.2rem;
}

.dialog_confirmFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.dialog_confirmBtn {
  padding: 5px 10px;
  border: 0;
  appearance: none;
  background: var(--btn-background-color);
  color: var(--btn-text-color);
  font-size: 1.2rem;

  &:focus-visible {
    border-radius: 0;
    background-color: var(--btn-focus-color);
    outline: none;
  }
}

.dialog_confirmBtn-cancel::before {
  content: 'Cancel';
}

.dialog_confirmBtn-confirm::before {
  content: 'OK';
}

/* サーバーから返されるプレビュー用 HTML */

.previewWindow {
  height: 100%;
  color-scheme: light dark;
  font-size: 10px;
}

.previewWindow_body {
  height: 100%;
  padding: 5px 5px 0;
  margin: 0;
  background: none;
}

.previewWindow_main {
  font-family: monospace;
  font-size: 1.3rem;
  line-height: 1.3;
  white-space: pre-wrap;
}
